.modalField {
  margin-bottom: 15px;
}

.modalLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.modalInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.modalButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #55759e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modalButton:hover {
  background-color: #466793;
}

.modalInput[type="file"] {
  margin-top: 5px;
}

.modalInput[type="file"]::file-selector-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #55759e;
  color: #ffffff;
  transition: 1s;
  cursor: pointer;
}

.modalInput[type="file"]::file-selector-button:hover {
  background-color: #466793;
}
