.incomingMessage {
  width: 99%;
  display: flex;
  justify-content: start;
}

.outgoingMessage {
  width: 99%;
  display: flex;
  justify-content: end;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 220px);
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(85, 117, 158, 0.7) transparent;
}

.noMessages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 200px);
}

.noMessagesImage {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.noMessagesText {
  text-align: center;
  color: #706f72;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.messageWrapper {
  max-width: 60%;
  min-width: 30%;
  background-color: #fff;
  padding: 15px 20px;
  margin: 15px 0;
  border-radius: 10px;
  word-wrap: break-word;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  animation: slideIn 0.5s ease forwards;
}

.messageImage {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
}

.messageAudio {
  width: 100%;
  margin: 10px 0;
}

.skeletonWrapperSkeleton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  width: 100%;
  padding-right: 20px;
  margin-bottom: 30px;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.messageWrapper {
  animation: slideIn 0.5s ease forwards;
}

.messageSender {
  font-weight: bold;
  color: #55759e;
  font-size: 16px;
  margin-bottom: 5px;
}

.messageText {
  font-size: 14px;
  line-height: 1.4;
  color: #000;
}

.messageTimestamp {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  text-align: right;
  color: #000;
}

@media (max-width: 768px) {
  .messageWrapper {
    min-width: 80%;
  }

  .noMessagesImage {
    width: 65%;
  }

  .noMessagesText {
    font-size: 12px;
  }

  .messageText {
    font-size: 16px;
  }

  .messageSender {
    font-size: 18px;
  }

  .messageTimestamp {
    font-size: 14px;
  }
}
