.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 20px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
}

.modalTitle {
  font-size: 1.5em;
  text-align: center;
}

.modalClose {
  position: relative;
  bottom: 1px;
  font-size: 30px;
  opacity: 0.6;
  background: none;
  border: none;
  cursor: pointer;
}

.modalContent {
  margin-top: 20px;
}
